:root {
    /* Barva přesně podle zadání */
    --netflix-red: rgb(214, 28, 28);
    
    /* Další užitečné proměnné */
    --bg-dark: #141414;
    --text-light: #ffffff;
    --bg-black: #000000;
}

body {
    background-color: var(--bg-black);
    color: var(--text-light);
    font-family: Arial, sans-serif; /* Můžeš změnit dle designu */
    min-height: 100vh; /* Zajistí, že pozadí je přes celou obrazovku, i když je prázdná */
    display: flex;
    flex-direction: column;
}

main {
    padding: 0px;
    flex-grow: 1; 
}

.fa-circle-up {
    position: fixed; /* Fixní pozice vůči oknu prohlížeče */
    bottom: 20px;    /* 20px od spodního okraje */
    right: 20px;     /* 20px od pravého okraje */
    font-size: 3rem; /* Velikost ikonky */
    color: var(--netflix-red); /* Červená barva */
    cursor: pointer; /* Změní kurzor na ručičku */
    z-index: 1000;   /* Aby byla vždy nad ostatním obsahem */
    transition: transform 0.3s ease;
}

.fa-circle-up:hover {
    transform: scale(1.1); /* Efekt zvětšení při najetí myší */
}