:root {
  /* Barva přesně podle zadání */
  --netflix-red: rgb(214, 28, 28);

  /* Další užitečné proměnné */
  --bg-dark: #141414;
  --text-light: #ffffff;
  --bg-black: #000;
}

body {
  background-color: var(--bg-black);
  color: var(--text-light);
  font-family: Arial, sans-serif; /* Můžeš změnit dle designu */
  min-height: 100vh; /* Zajistí, že pozadí je přes celou obrazovku, i když je prázdná */
  display: flex;
  flex-direction: column;
}

main {
  padding: 0px;
  flex-grow: 1;
}

.btn-netflix {
  background-color: var(--netflix-red);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px; /* Sjednocené zaoblení */
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-netflix:hover {
  background-color: rgb(190, 20, 20);
  color: white;
  transform: scale(1.05); /* Jemné zvětšení pro interaktivitu */
}

.btn-netflix:active {
  transform: scale(0.98);
}

.scroll-up-btn {
position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px; 
  height: 40px; 
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.2s ease;
}

/* Třída, kterou přidáme přes JavaScript pro zobrazení */
.scroll-up-btn.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-up-btn:hover {
  transform: scale(1.1); /* Efekt zvětšení při najetí myší */
}

/* ==========================================================================
   TABLET (min-width: 768px)
   ========================================================================== */
@media (min-width: 768px) {
  .btn-netflix {
    font-size: 1.2rem;
    padding: 10px 20px;
  }
  .scroll-up-btn {
    width: 50px;
    height: 50px;
  }
}